<div class="ui-g">
    <div class="ui-g-12 ui-md-12 ui-lg-6 pull-left">
        <button type="text" (click)="confirm()" pButton label="Generate" class="ui-button-success" *ngIf="hasGeneratePermission" [disabled]="checkedClaimRequestCount == 0 ? true : false"></button>
        <button pButton type="button" label="Select All" (click)="SendIt(true)"></button>
        <button pButton type="button" label="Select None" (click)="SendIt(false)"></button>
    </div>

    <div class="ui-g-12" style="vertical-align:central; margin-bottom: -10px;">
        <div class="ui-g-5">
            Total Records: {{claimRequestSlice.length}}  - UnFiltered Records: {{GetUnFilteredRecordCount(grid)}} - Records To Send: {{GetRecordsToSendCount(grid)}}
        </div>
        <div class="ui-g-6" style="text-align:center;">
            <GridPaging #Top [dataSource]="gridHelper.wData" [(parentPageSize)]="pageSize" (parentPageSizeChange)="Bottom.SyncPageSize(pageSize)" (parentPageSizeChange2)="parentPageSizeChange($event)"></GridPaging>
        </div>
        <button type="button" pButton (click)="export()" label="Export" icon="fa-file-o" iconPos="left" style="float:right; margin-top:5px;"></button>
    </div>

    <div class="ui-g-12 ui-widget-header ui-helper-clearfix" style="padding:5px 5px;border-bottom: 0 none">
        <div style="text-align:right; padding-right:unset;">
            <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="25" style="float:left" placeholder="Global Filter" [(ngModel)]="gridHelper.globalFilter.filter">
            <p-multiSelect [options]="gridHelper.columnOptions" [(ngModel)]="gridHelper.selectableCols" (onChange)="onColumnOptionsChange()" styleClass="multiSelectCustomWidthMd miltiSelectWrapperMd" [defaultLabel]="'Hidden Columns'"></p-multiSelect>
        </div>
        <div class="ui-g-12 ui-g-nopad">

        </div>
    </div>
    <div class="ui-g-12 ui-g-nopad ui-helper-clearfix">

        <wj-flex-grid #grid
                      [showAlternatingRows]="true"
                      [isReadOnly]="true"
                      [allowDelete]="false"
                      [itemsSource]="gridHelper.wData ? gridHelper.wData.items : null"
                      (sortedColumn)="gridHelper.autoSizeRows()"
                      [selectionMode]="'Cell'"
                      style="margin-bottom: 0px">
            <wj-flex-grid-filter (filterChanged)="onFilterComplete()"></wj-flex-grid-filter>
            <wj-flex-grid-column *ngFor="let col of gridHelper.actualCols"
                                 [binding]="col.Field"
                                 [header]="col.Header"
                                 [format]="col.Format"
                                 [width]="col.Width"
                                 [ngSwitch]="col.Field.toUpperCase()">
                <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell" *ngSwitchCase="'SENDIT'">
                    <div style="margin-left: 35px;"><p-checkbox class="center" [(ngModel)]=cell.item[col.Field] binary="true"></p-checkbox></div>
                </template>

                <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell" *ngSwitchDefault>
                    <div>{{cell.item[col.Field]}}</div>
                </template>

            </wj-flex-grid-column>
        </wj-flex-grid>

        <div class="ui-g-5">
            Total Records: {{claimRequestSlice.length}}  - UnFiltered Records: {{GetUnFilteredRecordCount(grid)}} - Records To Send: {{GetRecordsToSendCount(grid)}}
        </div>
        <div class="ui-g-6" style="text-align:center">
            <GridPaging #Bottom [dataSource]="gridHelper.wData" [(parentPageSize)]="pageSize" (parentPageSizeChange)="Top.SyncPageSize(pageSize)" (parentPageSizeChange2)="parentPageSizeChange($event)"></GridPaging>
        </div>
    </div>
</div>


