<div>
    <myMenu></myMenu>
</div>
<div>
    <p-growl [value]="growlHelper.Messages" [sticky]="growlHelper.StickyGrowl"></p-growl>
</div>
<div>
    <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
</div>
<p-dialog id="loading" [(visible)]="loading.Display" [modal]="true" showEffect="fade" [closeOnEscape]="false" [closable]="false" width="290" minWidth="290" [resizable]="false" [draggable]="false" [header]="'Loading...Please wait.'" [appendTo]="body">
    <img src="../content/images/loading.gif" />
</p-dialog>

<p-dialog id="generating" [(visible)]="generating.Display" [modal]="true" showEffect="fade" [closeOnEscape]="false" [closable]="false" width="290" minWidth="290" [resizable]="false" [draggable]="false" [header]="'Generating...Please wait.'" [appendTo]="body">
    <img src="../content/images/loading.gif" />
</p-dialog>
<div class="ui-g">
    <div class="ui-g-12 ui-md-12 ui-lg-12">
        <div class="ui-g-12 ui-md-12 ui-lg-2" style="text-align:center; width:19em">
            <div>
                <p-selectButton name="RequestType" [options]="requestTypeOptions" [(ngModel)]="requestType" (onChange)="onRequestTypeChange($event)"></p-selectButton>
            </div>
            <h3 style="text-align:center">Set Tree Sorting Option:</h3>
            <div>
                <p-dropdown [options]="sortTreeOptions" [(ngModel)]="selectedSortOption" (onChange)="sortTreeOnChange($event)"></p-dropdown>
                <p-selectButton [options]="expandedOptions" [(ngModel)]="expanded" (onChange)="onChange($event)"></p-selectButton>
            </div>
            <div class="pull-left" style="text-align:left">
                <p-tree [styleClass]="ui-tree" [value]="claimRequestTree" selectionMode="checkbox" class="treeSmallText" [(selection)]="selectedClaimRequestTree" (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)" (onNodeExpand)="onNodeExpand($event)" (onNodeCollapse)="onNodeCollapse($event)">
                    <template let-node pTemplate="default">
                        <label title="{{node.label}}">{{node.label}}</label>
                    </template>
                </p-tree>
            </div>
        </div>

        <div class="ui-g-10">
            <div class="ui-g-12" style="text-align:center">
                <h2><strong>Claim Requests</strong></h2>
            </div>
            <div class="ui-g-12">
                <ClaimRequestTable #childAccess [claimRequestSlice]="claimRequestSlice" (onGenerateClick)="onGenerateClick($event)"></ClaimRequestTable>
            </div>
        </div>
    </div>
</div>

